body {
    background-color: #609;
    color: whitesmoke;
}

a:link,
a:visited,
a:hover,
a:focus,
a:active {
    color: whitesmoke;
}

.bracket-line {
    stroke: magenta;
}

text {
    fill: whitesmoke;
}
