body {
    background-color: #609;
    color: whitesmoke;
    margin: 0;
}

a:link,
a:visited,
a:hover,
a:focus,
a:active {
    color: whitesmoke;
}


/*BRACKET PAGE*/

.bracket-page .code-label {
    fill: darkgrey;
}

.bracket-line {
    stroke: magenta;
}

text {
    fill: whitesmoke;
}


/*HOME PAGE*/

.home-page {
    text-align: center;
}

.home-page .title-bar {
    height: 100px;
    background-color: blueviolet;
}

.home-page .title-bar > h1 {
    padding-top: 20px;
}

.home-page .home-content {
    background-color: #660099;
    padding: 20px;
}

.home-content .btn-primary {
    background-color: magenta;
    border-color: magenta;
}

.home-content .button-group {
    margin-bottom: 16px;
}

.home-content .manage-link {
    font-size: 12px;
}

/*MANAGE PAGE*/

.manage-tourneys-page {
    padding: 20px;
}

.manage-tourneys-page .tourney-link {
    margin: 0 0 0 15px;
}

/*VOTE PAGE*/

.vote-page > .vote-top {
    background-color: blueviolet;

    cursor: pointer;
    height: 50vh;
    line-height: 50vh;
    vertical-align: middle;
    text-align: center;
    font-size: 4em;
    font-weight: bold;
}

.vote-page .selected {
    border-color: magenta;
    border-style: solid;
}

.vote-page > .vote-bottom {
    cursor: pointer;
    height: 50vh;
    line-height: 50vh;
    vertical-align: middle;
    text-align: center;
    font-size: 4em;
    font-weight: bold;
}
